<div class="container">
  <h1 mat-dialog-title>
    {{ type === 'add' ? 'Add Note' : 'View Note' }}
  </h1>

  <div mat-dialog-content class="pb-20">
    <form [formGroup]="noteForm">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" [readonly]="type === 'view'" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Text</mat-label>
        <textarea matInput formControlName="text" [readonly]="type === 'view'"></textarea>
      </mat-form-field>

      <div class="example-full-width" *ngIf="data.pic !== null && !uploadedImg">
        <input
          #csvInput
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="inputChange($event.target)"
          accept=".jpg,.jpeg,.png"
        />
        <button mat-flat-button color="primary" (click)="csvInput.click()">Choose Picture</button>
      </div>
      <div *ngIf="uploadedImg" fxLayout="row" fxLayoutAlign="center center">
        <img class="pic-style" src="{{ uploadedImg }}" />
      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button color="primary" (click)="onDismiss()">{{ type === 'add' ? 'Cancel' : 'Close' }}</button>
    <button *ngIf="type === 'add'" mat-raised-button color="accent" (click)="onConfirm()">Save</button>
  </div>
</div>
