.add-card-component {
  .add-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 60%;
    font-size: 80px;
    color: #2196f3;
  }

  .button-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
