.note-list-component {
  .card-pic {
    img {
      width: 100%;
      height: 82px;
    }
  }

  .small-text {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 !important;
    font-size: 12px;
  }
}
