<div class="note-list-component" fxLayout="column" fxLayoutAlign="center start" *ngIf="notes | async as notes">
  <ng-container *ngIf="notes.length">
    <h4>Saved Picture Notes</h4>
    <div class="list-container" fxLayout="row wrap" fxLayoutGap="20px">
      <app-note-card *ngFor="let card of notes" (click)="viewNote(card)" class="pointer">
        <div class="card-title no-margin">{{ card.title }}</div>
        <div class="card-text small-text">{{ card.text }}</div>
        <div class="card-pic"><img src="{{ card.pic }}" /></div>
      </app-note-card>
    </div>
  </ng-container>
</div>
