<div class="add-card-component" fxLayout="column" fxLayoutAlign="center start">
  <h4>Add Picture Notes</h4>
  <div class="list-container" fxLayout="row">
    <app-note-card class="pointer" (click)="addNote()">
      <div class="add-button">+</div>
      <div class="button-type">Simple picture note</div>
    </app-note-card>
  </div>
</div>
