<div class="note-card-component" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <ng-content select=".card-title"></ng-content>
  <ng-content select=".card-text"></ng-content>
  <ng-content select=".add-button"></ng-content>
  <ng-content select=".button-type"></ng-content>
  <ng-content select=".card-pic"></ng-content>
</div>
